.logs {
    margin: 20px auto;
    text-align: center;
  margin-top: -140%;
  margin-left: 50%;
}

.art1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 95vh;
    width: 50%;
    z-index: 1;
}

.final4 {
    position: absolute;
    bottom: 5;
    left: 0;
    z-index: 1;
    top:110%;
    width: 100%;
}

.intro {
    margin: 20px auto;
    text-align: center;
    margin-left: 30%;
}
.namefield{
    width: 400px;
    height: 4vh;
    border-radius: 25px;
    margin-top: -10%;
}
.forms2{
    margin-left: 77%;
    margin-top: -19%;
}
.btn2{
    margin-top: 40%;
    background-color: #FC8A06;
    color: white;
    width: 400px;
    border-radius: 25px;
    margin-left: -198%;

}
.name1{
  

}
.error{
    color: red;
    display: inline;
}
.namefield.hasError {
    margin-bottom: 1px; /* Extra space when error is displayed */
  }

  .inputContainer{
margin-left: -200%;
  }
  
  .logs.errorActive img {
    /* Styles for the image when .logs has the .errorActive class */
    margin-top: 20%;
  }


  .final4.errorActive img{
    margin-top: 10%;
  }


  .forms2.errorActive{
    margin-top: -33%;
  }
  .signup8 {
    color: orange; /* Set the text color to orange */
    text-decoration: underline; /* Underline the text */
    background: none; /* Remove any default button background */
    border: none; /* Remove any default button border */
    cursor: pointer; /* Change cursor to pointer for better UX */
    font-size: inherit; /* Ensure it inherits font size from its parent */
    padding: 0; /* Remove padding to make it inline */
  }
  .act{
    margin-top: 33%;
    position: absolute;
    margin-left: 14%;
  }
  .final6{
    width: 100%;
    margin-top: 5%;
  }

  @media all and (max-width:480px){
    .art1{
      display: none;
    }
    .intro {
      margin-top: 1%;
      margin-left: 5%;
  }
  .logs {
   display: block;
   margin-top: -160%;
   margin-left: -20%;
 
}
.inputContainer{
  margin-left: -300%;
  margin-top: 40%;
 
}
.act{
  margin-top: 90%;
  position: absolute;
  margin-left: 14%;
}
.signup8 {

}
.final6{
  margin-top: 50%;
}
.btn2{
margin-top: 67%;
margin-left: -300%;
}

  }